* {
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  ul li {
    margin-right: 20px;
    cursor: pointer;
  }
  
  ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  ul li a:hover {
    color: white;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .checkbtn {
      display: block;
      order: 1;
      margin-right: 20px;
    }
  
    ul {
      position: fixed;
      top: 80px;
      right: -100%;
      background-color: black;
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }
  
    ul li {
      margin: 20px 0;
    }
  
    ul li a {
      font-size: 20px;
    }
  
    #check:checked ~ ul {
      right: 0;
    }
  }
nav ul li:active {
    cursor: progress;
}
section img {
    margin-left: -390px;
}
h1{
    text-align: center;
}
.inner-section {
    height: 100%;
    width: 100%;
    margin: auto;
    padding: auto;
}
.inner-section p {
    margin: 15px;
}
.img2 {
    height: 400px;
    width: 630px;
    background: url(albela-glass.avif);
    background-size: cover;
    margin: 15px;
}
.img3 {
    height: 400px;
    width: 470px;
    background: url(download.jpg);
    background-size: cover;
    margin: 15px;
}
.img4 {
    height: 1000px;
    width: 470px;
    background: url(download2.jpg);
    background-size: cover;
    margin: 15px;
}